extends frag/framework
block style
    link(rel='stylesheet',href='/static/css/icomoon.css')
    style
        :stylus
            .yahei
                font-family "Microsoft YaHei"
            footer
                z-index 5
            body
                min-width 400px
            .slider.fullscreen
                z-index -1
            .login
                width 100%
                .card
                    .face
                        img
                            border 1px solid #cccccc
                    .card-content
                        padding-bottom 12px
                    .card-action a
                        color #65BEF3
                    .card-action a:hover
                        color #8ed7ff
                    .card-action .action
                        min-width 120px
                .row
                    margin-bottom 0
                .collection
                    margin-top 0
                    margin-bottom 12px
                    .collection-item
                        padding 0px 10px
                    //last input border
                    .collection-item:last-child
                        border-bottom 1px solid #FFFFFF
                    .collection-item:last-child:focus
                        border-bottom 1px solid #26a69a
                input
                    height 2rem
                .btn-flat
                    padding 0 1rem
                    height 2rem
                    margin-bottom 2px
                @media only screen and (max-width: 600px)
                    .face
                        width 200px
                        margin 20px auto
                    .collection
                        margin 20px auto
                    input
                        height 3rem
                    .btn-flat.action
                        padding 0 1rem
                        height 3rem
                        margin 20px auto
                    .btn-flat.action:last-of-type
                        float right !important


block content
    main.valign-wrapper
        div.login.valign
            div.row
                div.col.s12.m8.l4.offset-m2.offset-l4
                    div.card.hoverable
                        div.card-image
                            img(src=title_img)
                            span.card-title Shibeta.org
                        div.card-content
                            div.row
                                div.col.s12.m3
                                    div.face
                                        img.circle.responsive-img(src=default_face)
                                div.col.s12.m6
                                    div.collection
                                        input(type="text").collection-item.validate
                                        input(type="password").collection-item.validate
                                    p.center
                                        input#ifRemember(type="checkbox")
                                        label.yahei(for="ifRemember") 记住密码
                                div.col.s12.m3
                                    a.btn-flat.waves-effect.waves-teal.yahei.grey-text.text-lighten-1.action.activator 注册账号
                                    a.btn-flat.waves-effect.waves-teal.yahei.grey-text.text-lighten-1.action 忘记密码
                        div.card-action
                            a.btn-flat.waves-light
                                i.icon-qq.left
                                | QQ
                            a#onLogin.waves-effect.waves-light.white-text.btn.right.yahei.action 登陆
                        div.card-reveal
                            span.card-title.grey-text.text-darken-4.yahei 注册
                                i.material-icons.right close
                            p 急毛线……咱还没写好呐。
        div.slider.fullscreen
            ul.slides
                each s in slides
                    li
                        img(src=s.img)
    script.
        $(function(){
            $('.slider').slider({full_width: true,interval:3000,indicators:false})
        })