extends frag/framework

block style
    script(src='/static/lib/class.js')
    style
        :stylus
            .test
                margin 0
    include mixin/upload

block content
    main
        +upload
