doctype html
html
    head
        title=title
        block scripts
            //script(src='/static/lib/')
        include color
        include fwStyle
    body
        div.fw_header
            div.bar

            div.menu


