doctype html
html
    head
        block scripts
            // if lt IE 9
                <script src='/static/lib/html5shiv.js'></script>
            script(src='/static/lib/jquery.min.js')
        include color
        include fwStyle
        block style
    body
        block content


