doctype html
html
    head
        block scripts
            // if lt IE 9
                <script src='/static/lib/html5shiv.js'></script>
            script(src='/static/lib/jquery.min.js')
        include color
        include fwStyle
        block style
    body
        //div.fw_header
            div.bar
                div.container
            div.menu
                div.span9
                    div.navbar.navbar-inverse
                        div.navbar-inner
                            div.container
                                button.btn.btn-navbar(type="button")
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                                div.navbar-collapse.collapse
                                    ul.nav
                                        li
                                            a(href="#") test
                                                span.navbar-unread 1
                                        li.active
                                            a(href="#") test
                                                span.navbar-unread 1
                                        li
                                            a(href="#") test
                                                span.navbar-unread 1
        block content


