//include fwStyleM
style
    :stylus
        @import "frag/hack"
        body,html
            padding 0
            margin 0
            width 100%
            min-width 1280px
        .fw_header
            height 160px
            width 100%
            background #27ff1d
            position: relative
            .bar
                width 100%
                height 48px
                linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0))
                .container
                    height 18px
                    background #000
            .menu
                //linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0))
                position absolute
                bottom 0
                width 100%
                height 48px



