linear-gradient(a,b,e)
  background -moz-linear-gradient(a,b,e)
  background -webkit-linear-gradient(a,b,e)
  background -o-linear-gradient(a,b,e)

box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  -o-border-radius arguments
  border-radius arguments

transition()
  transition arguments
  -moz-transition arguments
  -webkit-transition arguments
  -ms-transition arguments
  -o-transition arguments

animation()
  animation arguments
  -moz-animation arguments
  -webkit-animation arguments
  -o-animation arguments

animation-iteration-count()
  -webkit-animation-iteration-count arguments
  animation-iteration-count arguments
