.theme_1
  .player
    .play
      background #FFBD7D
      i
        color #B07A42
    .play:hover
      background #F1E3B8
      i
        color #432811
    .extend
      i
        color #B07A42
    .progress-yet
      linear-gradient(right,#432811,#BF9055)
    .progress-bg
      background #F1E3B8

.theme_2
  .player
    .play
      background #FFBD7D
      i
        color #B07A42
    .play:hover
      background #F1E3B8
      i
        color #432811
    .extend
      i
        color #B07A42
    .progress-yet
      linear-gradient(right,#432811,#BF9055)
    .progress-bg
      background #F1E3B8

.theme_3
  .player
    .play
      background #FFBD7D
      i
        color #B07A42
    .play:hover
      background #F1E3B8
      i
        color #432811
    .extend
      i
        color #B07A42
    .progress-yet
      linear-gradient(right,#432811,#BF9055)
    .progress-bg
      background #F1E3B8