.themeSel
  .btnSel:nth-of-type(1)
    background #BF9055
  .btnSel:nth-of-type(1):hover
    background #432811
  .btnSel:nth-of-type(2)
    background #767465
  .btnSel:nth-of-type(2):hover
    background #3B3B39
  .btnSel:nth-of-type(3)
    background #8E7E61
  .btnSel:nth-of-type(3):hover
    background #3F321E

.theme_1
  .content
    .img
      background-image url(/static/img/preLoad_1.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #FFBD7D
      .progress
        linear-gradient(right,#432811,#BF9055)
      .progressBg
        background #FFFFF2
    .msg
      color #432811
  .footer
    color #B07A42
    background #F1E3B8
    .link
      a
        color #B07A42

.theme_2
  .content
    .img
      background-image url(/static/img/preLoad_2.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #C9CABC
      .progress
        linear-gradient(right,#3B3B39,#767465)
      .progressBg
        background #EEEFE6
    .msg
      color #3B3B39
  .footer
    color #3B3B39
    background #767465
    .link
      a
        color #3B3B39

.theme_3
  .content
    .img
      background-image url(/static/img/preLoad_3.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #FFBD7D
      .progress
        linear-gradient(right,#3F321E,#8E7E61)
      .progressBg
        background #DEDBB3
    .msg
      color #3F321E
  .footer
    //border-top 1px solid #767465
    color #3F321E
    background #7D6C50
    .link
      a
        color #3F321E

.theme_1b
  .content
    .img
      background-image url(/static/img/preLoad_1.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #FFBD7D
      .progress
        linear-gradient(right,#432811,#BF9055)
      .progressBg
        background #FFFFF2
    .msg
      color #432811
  .footer
    border-top 1px solid #E0C184
    color #BB8B4F
    background #FFFFE3
    .link
      a
        color #BB8B4F

.theme_2b
  .content
    .img
      background-image url(/static/img/preLoad_2.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #C9CABC
      .progress
        linear-gradient(right,#3B3B39,#767465)
      .progressBg
        background #EEEFE6
    .msg
      color #3B3B39
  .footer
    border-top 1px solid #767465
    color #3B3B39
    background #EEEFE6
    .link
      a
        color #3B3B39

.theme_3b
  .content
    .img
      background-image url(/static/img/preLoad_3.png)
    .progressBar
      box-shadow 2px 2px 5px 5px #FFBD7D
      .progress
        linear-gradient(right,#3F321E,#8E7E61)
      .progressBg
        background #DEDBB3
    .msg
      color #3F321E
  .footer
    border-top 1px solid #7D6C50
    color #7D6C50
    background #DEDBB3
    .link
      a
        color #7D6C50
