mixin footer
    footer.page-footer
        div.container
            div.row
                div.col.l6.s12
                    h5.white-text Context
                    p.grey-text.text-lighten-4 lalalalalla
                div.col.l4.offset-l2.s12
                    h5.white-text links
                    ul
                        li
                            a.grey-text.text-lighten-3(href="#") 助屋简介
                        li
                            a.grey-text.text-lighten-3(href="#") 关于本站
                        li
                            a.grey-text.text-lighten-3(href="#") 建议反馈
                        li
                            a.grey-text.text-lighten-3(href="#") V 0.1.5
        div.footer-copyright
            div.container
                span © 2015 Copyright StitchCula.
                span
                    a.grey-text.text-lighten-4.right(href="#") lalala